/* root */
* {
    font-family: 'Girassol', cursive;
    --navBackgroundColour: rgb(3, 65, 3);
    --navFontColour: white;
    margin: 0px 0px;
    padding: 0px 0px;
}

/* root */

/* body  */
body {
    margin: 0px;
}

/* body  */


/* header */
.dNavVisible::before {
    content: "";
    background-color: var(--navBackgroundColour);
    height: 50px;
    width: 100%;
    position: absolute;
    color: var(--navFontColour);
    z-index: -1;
    opacity: 1;
}

.dNavVisible {
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    /*flex-wrap: wrap;*/
    /* align-items: center; */
    /*flex-direction: column;*/
    justify-content: space-between;
}

.dlogo {
    padding: 2px 20px;
    font-size: 35px;
}

#dnmenu {
    padding: 2px 20px;
    margin: 5px 10px;
    font-size: 20px;
}

.header {
    display: none;

}

.dheader {
    display: none;
    /*justify-content:space-around;*/
    /* scroll-behavior: smooth; */
    /* flex-wrap: wrap; */
    /*float: right;*/
    /* visibility:hidden;*/
    position: absolute;
    top: 50px;
    /*!* min-width: 160px;*/
    min-height: 160px;
    flex-direction: column;
    /*padding:auto auto;*/
    align-items: center;
    width: 100%;
    height: 1000px;
    left: 0px;
    z-index: 1;
    background-color: var(--navBackgroundColour);
}

#dnavmenu {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.dnmenu {
    padding: 0px 0px;
    /* float: right; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* text-align: center; */

}

.dmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;


}

/*menubar icon*/


.menu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 22px 20px;
    /* position: relative; */
    user-select: none;
    /*background-color:green;*/
}

.menu-icon .navicon {
    background: white;
    display: block;
    height: 2.8px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: white;
    content: '';
    color: white;
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 10px;
}

.menu-icon .navicon:after {
    top: -10px;
}

/*menubar icon*/
.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 300px;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.dheader {
    display: flex;
    padding: 0px 0px;
    /* float: right; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}














.dnavitem a {
    text-decoration: none;
    font-size: 25px;
    padding: 5px 20px;
    color: var(--navFontColour);
    width: 100%;
}

.dnavitem {
    padding: 5px 0px;
    width: 100%;
    text-align: center;
}

.dright {
    padding: 10px 25px;
    align-items: center;
    text-align: center;
}

#dnavBtn {
    background-color: blue;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 20px 20px;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

#dnavBtn a {
    color: var(--navFontColour);
    text-decoration: none;
}
#home{
    background-color: rgb(133, 123, 34);
}
#home:hover{
    background-color: red;
    /* z-index:5; */
}
.dnavitem:hover,
.dnavitem a:hover {
    background-color: red;
}

#dnavBtn:hover {
    background-color: red;
}

#dnmenu:hover {
    background-color: gold;

}


/* header */





/* section */
.section {
    border: 2px solid red;
    background-color: skyblue;
    height: 500px;
    /* margin:10px; */
}

/* section */



/* footer  */
.footer {
    bottom: 0px;
    left: 0px;
    background-color: blue;
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.fdiv {
    padding: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 0px;
}



/* footer  */